<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
    </head>

    <body>
        <div id="main">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <label for="upload" style="display: inline-block;">
                    <div>Select images</div>
                </label>
                    <input id="upload" type="file" name="file" style="display: none;">
                <label for="scan" style="display: inline-block;">
                    <div>EXECUTE</div>
                </label>
                    <input id="scan" type="submit" style="display: none;">
            </form>
        </div>
    </body>
</html>