<!DOCTYPE html>
<html>
  <head>
    <title>result</title>
  </head>
  <body>
    <div id="main">
      <div id="result"> <%= keyword %> </div>
      <form method="get" action="/"> 
        <label for="home">home</label>
        <input type="submit" id="home" style="display: none;">
      </form>
      <div id="content">
        <% for(var content in data) { %>
            <div class="list">
              <a href="https://www.youtube.com/embed/<%= data[content].id.videoId %>" width=10% height=10% target="_self">
                <img id="thumbnail" src="<%= data[content].snippet.thumbnails.medium.url%>">
                <div id="title">
                    <% title = data[content].snippet.title %>
                    <% title = title.replace(/&#39;/gi,`'`); %>
                    <% title = title.replace(/&quot;/gi,`"`); %>
                    <% title = title.replace(/&amp;/gi,`&`); %>
                    <%= title %>
                </div>
              </a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>